
<div id='splash' class="time1">

  <div class="logo">
  </div>
</div>

<div id='twiiets' class='time1'>
  <% @tweets.each do |tweets| %>
    <div class='tweet vertical-text'>
      <%= tweets.massage %>
    </div>
  <% end %>
</div><!-- /#twiiets -->

<div id=color_name' class='time1'>
  <% @colors.zip(%w(l c r)).each do |color, position| %>
  <div class='layout_<%= position %> color_<%= color %>' style="background: #<%= color %>"></div>
  <% end %>
</div><!-- /#color_name -->

<div id='color_layout' class='time1'>
  <% @colors.zip(%w(t m b)).zip(@weight).each do |color, position| %>
  <div class='layout_<%= position %> color_<%= code %> per_<%= weight  %>' style="background: #<%= color %>" ></div>
  <% end %>
</div><!-- /#color_layout -->

<div id="select" class="time1">
  <ul>
    <li class="color"><%= link_to '', root_path %></li>
    <li class="eat"> <%= link_to '', @recipe, target: "_blank" %></li>
  </ul>
</div><!-- /#select -->



<div id="dish" class="time1">
  <div class="img"><img src="/img/dish.png" /></div>
  <p class="dish_name">紫芋のおこわ</p>
  <p class="dish_description">胸肉をフライにしたら、パサパサしないでしっとり(*^_^*) うちの大人気フライです（≧∇≦）</p>
  <ul class="menu">
    <li class="color">
      <%= link_to '再配色をする', root_path, class: "vertical-text" %>
    </li>
    <li class="recipe">
      <%= link_to 'レシピを見る', @recipe, class: "vertical-text", target: "_blank" %>
    </li>
  </ul>
</div>
